<div class="card">
  <p-dataView #dv [value]="productList" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
      <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between">
            <div style="text-align:right; padding-bottom: 15px;">
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
            <p-accordion (onOpen)="accordionTabOpen()" >
              <p-accordionTab header="查詢表單" [selected]="isSearchFormOpen">
                <form [formGroup]="searchForm" style="padding-top: 10px;">
                  <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col-12 p-md-6 p-lg-4">
                      <span class="p-float-label">
                        <input pInputText type="text" formControlName="productName" id="float-input" />
                        <label for="float-input">商品名稱</label>
                      </span>
                    </div>

                    <div class="p-field p-col-12 p-md-6 p-lg-4">
                      <span class="p-float-label">
                        <p-chips formControlName="skuList" separator=","
                        (onAdd)="chipsAdd($event, 'skuList')" id="float-input"></p-chips>
                        <label for="float-input">SKU</label>
                      </span>
                    </div>

                    <div class="p-field p-col-12 p-md-6 p-lg-4">
                      <label>商品狀態</label>
                      <div class="p-field p-col-12 column-value">
                        <p-radioButton formControlName="isAvailable" name="isAvailable" value="AVAILABLE" label="可購買"></p-radioButton>
                        <p-radioButton formControlName="isAvailable" name="isAvailable" value="OUT_OF_STOCK" label="已斷貨" class="p-ml-2"></p-radioButton>
                        <p-radioButton formControlName="isAvailable" name="isAvailable" value="ALL" label="全部" class="p-ml-2"></p-radioButton>
                      </div>
                    </div>

                  </div>

                  <div class="p-grid">
                      <div class="p-col">
                          <button pButton pRipple label="查詢" (click)="searchBtnClick(false)"></button>
                          <button pButton pRipple label="重製" class="p-button-secondary p-ml-2" (click)="resetBtnClick()" ></button>
                      </div>
                  </div>
                </form>
              </p-accordionTab>
            </p-accordion>
          </div>
      </ng-template>

      <!-- TODO 下次來改這邊，還有購物車的圖案-->
      <ng-template let-productList pTemplate="listItem">
          <div class="p-col-12">
              <div class="product-list-item">
                <img [src]="getImgUrl(productList.snCode) | image | async" alt="Product photo"/>
                <div class="product-list-detail">
                    <div class="product-name">{{productList.productName}}</div>
                    <div class="product-description">{{productList.sku}}</div>
                    <div class="product-description">上架日期：{{productList.createDt | date:'yyyy-MM-dd'}}</div>
                    <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{productList.category}}</span>
                </div>

                <div class="product-list-detail">
                  <!--TODO 下次先來處理這邊的錯誤訊息紅色框 可以參考Login畫面或是laas-protal  -->
                  <p-dropdown [options]="productList.colorList" placeholder="顏色" optionLabel="label" optionValue="value"></p-dropdown>
                  <p-dropdown [options]="productList.sizeList" placeholder="尺寸" optionLabel="label" optionValue="value"></p-dropdown>
                </div>

                <div class="product-list-detail">
                  <p-inputNumber id="float-input" style="padding-top: 10px" placeholder="數量"></p-inputNumber>
                </div>

                <div class="product-list-action">
                    <span class="product-price">${{productList.price}}</span>
                    <p-button icon="pi pi-shopping-cart" label="加入購物車"></p-button>
                  </div>
              </div>
          </div>
      </ng-template>

        <ng-template let-productList let-rowIndex="rowIndex" pTemplate="gridItem">
        <form [formGroup]="productForm" (ngSubmit)="addShoppingCart()">

            <div class="col-12 md:col-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{productList.category}}</span>
                        </div>
                    </div>
                    <div class="product-grid-item-content">
                      <img [src]="getImgUrl(productList.snCode) | image | async" alt="Product photo"/>
                      <div class="product-name">{{productList.productName}}</div>
                      <div class="product-description">{{productList.sku}}</div>
                      <div class="product-description">上架日期：{{productList.createDt | date:'yyyy-MM-dd'}}</div>
                      <div class="product-description">

                        <p-dropdown  [options]="productList.colorList" placeholder="顏色" optionLabel="label" optionValue="value"
                          [(ngModel)]="productList.colorSeqNo" formControlName="colorSeqNo"
                          [class]="showValidationMessage(productList.colorSeqNo, submitted) ? ['ng-invalid', 'ng-dirty'] : []"></p-dropdown>
                        <div *ngIf="showValidationMessage(productList.colorSeqNo, submitted)">
                          <!-- TODO 下次繼續處理這個BUG，可能要換寫法-->
                          <small class="p-invalid">必填欄位</small>
                        </div>

                        <p-dropdown  [options]="productList.sizeList" placeholder="尺寸" optionLabel="label" optionValue="value"
                          [(ngModel)]="productList.sizeSeqNo" formControlName="sizeSeqNo"
                          [class]="showValidationMessage(productList.sizeSeqNo, submitted) ? ['ng-invalid', 'ng-dirty'] : []"></p-dropdown>
                        <div *ngIf="showValidationMessage(productList.sizeSeqNo, submitted)">
                          <small class="p-invalid">必填欄位</small>
                        </div>
                      </div>

                      <div class="product-description">
                        <p-inputNumber  id="float-input" placeholder="數量" [(ngModel)]="productList.productQty"
                        [class]="showValidationMessage(productList.productQty, submitted) ? ['ng-invalid', 'ng-dirty'] : []"
                        formControlName="productQty"></p-inputNumber>
                        <div *ngIf="showValidationMessage(productList.productQty, submitted)">
                          <small class="p-invalid">必填欄位</small>
                        </div>
                      </div>

                      <div class="product-grid-item-bottom">
                        <span class="product-price">${{productList.price}}</span>
                        <p-button icon="pi pi-shopping-cart" type="submit" [disabled]="productList.productStatus == 'OUT_OF_STOCK'"></p-button>
                    </div>
                    </div>


                </div>
            </div>
                  </form>

        </ng-template>

  </p-dataView>
</div>
