$primary-color-blue: #4fc6e0;
$primary-color-orange: #f37167;
$primary-color-gray: #58595b;

/* common */
$text-color:#1b1b1b;
$text-secondary-color:#888888;
$font-size:16px;
$bg-color: #f8f9fa;

/* header */
$header-bg-color:#ffffff;
$header-border-color:#888888;
$header-button-bg-color:#ffffff;
$header-button-border-color:#888888;
$header-button-text-color:#424242;
$header-button-hover-bg-color:#eaeaea;
$header-button-hover-text-color:#333333;
$header-height:80px;

/* footer */
$footer-bg-color:#f4f4f4;
$footer-border-color:#888888;
