<div class="container">
  <h1 class="page-title"><span class="icon"><i class="fas fa-pen"></i></span>商品編輯</h1>
</div>

<p-card>
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6 p-lg-3 ">
      <div class="float-label-padding" >
        <span class="p-float-label">
          <input pInputText type="text" [(ngModel)]="queryProductBySeqNoParam.productName" id="float-input"/>
          <label for="float-input">商品名稱</label>
        </span>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6 p-lg-3">
      <div class="float-label-padding">
        <span class="p-float-label">
          <p-chips *ngIf="queryProductBySeqNoParam.mpnList.length > 0 " [(ngModel)]="queryProductBySeqNoParam.mpnList" separator=","
          (onAdd)="mpnChipsAdd($event)" id="float-input" class="p-inputwrapper-filled"></p-chips>
          <p-chips *ngIf="queryProductBySeqNoParam.mpnList.length == 0 " [(ngModel)]="queryProductBySeqNoParam.mpnList" separator=","
            (onAdd)="mpnChipsAdd($event)" id="float-input"></p-chips>
          <label for="float-input">MPN</label>
        </span>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6 p-lg-3">
      <div class="float-label-padding">
        <span class="p-float-label">
          <p-chips *ngIf="queryProductBySeqNoParam.skuList.length > 0 " [(ngModel)]="queryProductBySeqNoParam.skuList" separator=","
          (onAdd)="skuChipsAdd($event)" id="float-input" class="p-inputwrapper-filled"></p-chips>
          <p-chips *ngIf="queryProductBySeqNoParam.skuList.length == 0 " [(ngModel)]="queryProductBySeqNoParam.skuList" separator=","
            (onAdd)="skuChipsAdd($event)" id="float-input"></p-chips>
          <label for="float-input">SKU</label>
        </span>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6 p-lg-3">
      <div class="float-label-padding">
        <p-multiSelect [options]="sizeOption" [(ngModel)]="this.queryProductBySeqNoParam.sizeList" placeholder="SIZE"
        (onChange)="updateProductSize($event)"></p-multiSelect>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6 p-lg-3">
      <div class="float-label-padding">
        <p-multiSelect [options]="colorOption" [(ngModel)]="queryProductBySeqNoParam.colorList" placeholder="顏色"
        [ngModelOptions]="{standalone: true}" optionLabel="label" optionValue="value"
        (onChange)="updateProductColor($event)"></p-multiSelect>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6 p-lg-3">
      <div class="float-label-padding">
        <span class="p-float-label">
          <p-inputNumber [(ngModel)]="queryProductBySeqNoParam.cost" id="float-input"></p-inputNumber>
          <label for="float-input">成本</label>
        </span>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6 p-lg-3">
      <div class="float-label-padding">
        <span class="p-float-label">
          <p-inputNumber [(ngModel)]="queryProductBySeqNoParam.price" id="float-input"></p-inputNumber>
          <label for="float-input">價格</label>
        </span>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6 p-lg-3">
      <div class="float-label-padding">
        <p-dropdown [options]="categoryOption" [(ngModel)]="queryProductBySeqNoParam.category" placeholder="類別"
        [ngModelOptions]="{standalone: true}" optionLabel="label" optionValue="value"></p-dropdown>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6 p-lg-6">
      <label>商品狀態</label>
      <div class="p-field p-col-12 column-value">
        <p-radioButton [(ngModel)]="queryProductBySeqNoParam.productStatus" name="productStatus" value="AVAILABLE" label="可購買"></p-radioButton>
        <p-radioButton [(ngModel)]="queryProductBySeqNoParam.productStatus" name="productStatus" value="OUT_OF_STOCK" label="已斷貨" class="p-ml-2"></p-radioButton>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-6 p-lg-6">
      <div class="float-label-padding">
        <span class="p-float-label">
          <textarea pInputTextarea [autoResize]="true" [(ngModel)]="queryProductBySeqNoParam.productDesc" id="float-input" [rows]="2"></textarea>
          <label for="float-input">商品介紹</label>
        </span>
      </div>
    </div>

    <div class="p-field p-col-12 p-md-8 p-lg-6">
      <img class="edit-main-img-border"
        [src]="getImgUrl(queryProductBySeqNoParam.mainPic) | image | async"
        onerror="this.src='assets/images/noImage.png'"/>

      <img *ngFor="let picture of queryProductBySeqNoParam.picList"
        class="edit-img-border"
        [src]="getImgUrl(picture) | image | async"
        onerror="this.src='assets/images/noImage.png'"/>
    </div>

    <div class="p-col-12 p-md-8 p-lg-6">
      <div style="padding-top: 30px; text-align:right;">
        <button *ngIf="!isEditMode" pButton label="新增產品" class="p-button-success edit-button-width" (click)="editProduct()"></button>
        <button *ngIf="isEditMode" pButton label="編輯產品" class="p-button-success edit-button-width" (click)="editProduct()"></button>
        <button pButton label="編輯數量" class="p-button-warning p-ml-2 edit-button-width" (click)="editProductQty()"></button>

        <button class="monkeyb-cust-file p-ml-2">
          <span>選擇檔案</span>
          <input
            type="file"
            [multiple]="true"
            (change)="previewPic($event)">
        </button>

      </div>
    </div>
  </div>
</p-card>

<p-dialog header="編輯產品數量" appendTo="body" [(visible)]="isShowEditProductQty" [modal]="true" [draggable]="false"
[resizable]="false" [style]="{ width: '50%' }">
  <edit-product-qty *ngIf="isShowEditProductQty" (updateProductQty)="updateProductQty($event)"
  [productColorSizeList] = "queryProductBySeqNoParam.productColorSizeList"></edit-product-qty>
</p-dialog>
