<div class="card">
  <p-dataView #dv [value]="productList" [paginator]="true" [rows]="9" filterBy="name"
      [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
      <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between">
            <div style="text-align:right; padding-bottom: 15px;">
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
            <p-accordion (onOpen)="accordionTabOpen()" >
              <p-accordionTab header="查詢表單" [selected]="isSearchFormOpen">
                <form [formGroup]="searchForm" style="padding-top: 10px;">
                  <div class="p-fluid p-formgrid p-grid">

                    <div class="p-field p-col-12 p-md-6 p-lg-4">
                      <span class="p-float-label">
                        <input pInputText type="text" formControlName="productName" id="float-input" />
                        <label for="float-input">商品名稱</label>
                      </span>
                    </div>

                    <div class="p-field p-col-12 p-md-6 p-lg-4">
                      <span class="p-float-label">
                        <p-chips formControlName="skuList" separator=","
                        (onAdd)="chipsAdd($event, 'skuList')" id="float-input"></p-chips>
                        <label for="float-input">SKU</label>
                      </span>
                    </div>

                    <div class="p-field p-col-12 p-md-6 p-lg-4">
                      <p-multiSelect [options]="isStockOption" formControlName="inStockList" placeholder="是否尚有庫存"></p-multiSelect>
                    </div>

                    <div class="p-field p-col-12 p-md-6 p-lg-4">
                      <label>商品狀態</label>
                      <div class="p-field p-col-12 column-value">
                        <p-radioButton formControlName="isAvailable" name="isAvailable" value="AVAILABLE" label="可購買"></p-radioButton>
                        <p-radioButton formControlName="isAvailable" name="isAvailable" value="OUT_OF_STOCK" label="已斷貨" class="p-ml-2"></p-radioButton>
                        <p-radioButton formControlName="isAvailable" name="isAvailable" value="ALL" label="全部" class="p-ml-2"></p-radioButton>
                      </div>
                    </div>

                  </div>

                  <div class="p-grid">
                      <div class="p-col">
                          <button pButton pRipple label="查詢" (click)="searchBtnClick(false)"></button>
                          <button pButton pRipple label="重製" class="p-button-secondary p-ml-2" (click)="resetBtnClick()" ></button>
                          <button pButton pRipple label="新增產品 " class="p-button-success p-ml-2" (click)="editProduct('')" ></button>
                      </div>
                  </div>
                </form>
              </p-accordionTab>
            </p-accordion>
          </div>
      </ng-template>

      <ng-template let-productList pTemplate="listItem">
          <div class="p-col-12">
              <div class="product-list-item">
                <img [src]="getImgUrl(productList.snCode) | image | async" alt="Product photo"/>
                <div class="product-list-detail">
                    <div class="product-name">{{productList.productName}}</div>
                    <div class="product-description">{{productList.sku}}</div>
                    <div class="product-description">上架日期：{{productList.createDt | date:'yyyy-MM-dd'}}</div>
                    <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{productList.category}}</span>
                </div>
                <div class="product-list-action">
                    <span class="product-price">${{productList.price}}</span>
                    <!-- <p-button icon="pi pi-shopping-cart" label="加入購物車"></p-button> -->
                    <p-button icon="pi pi-pencil" label="編輯"></p-button>
                    <div *ngIf="productList.productStatus == 'AVAILABLE' && productList.productQty > 0">
                      <p-tag severity="success">有現貨</p-tag>
                    </div>
                    <div *ngIf="productList.productStatus == 'AVAILABLE' && productList.productQty == 0">
                      <p-tag severity="warning">需預購</p-tag>
                    </div>
                    <div *ngIf="productList.productStatus == 'OUT_OF_STOCK'">
                      <p-tag severity="danger">斷貨</p-tag>
                    </div>
                  </div>
              </div>
          </div>
      </ng-template>

      <ng-template let-productList pTemplate="gridItem">
          <div class="col-12 md:col-4">
              <div class="product-grid-item card">
                  <div class="product-grid-item-top">
                      <div>
                          <i class="pi pi-tag product-category-icon"></i>
                          <span class="product-category">{{productList.category}}</span>
                      </div>
                      <div *ngIf="productList.productStatus == 'AVAILABLE' && productList.productQty > 0">
                        <p-tag severity="success">現貨</p-tag>
                      </div>
                      <div *ngIf="productList.productStatus == 'AVAILABLE' && productList.productQty == 0">
                        <p-tag severity="warning">預購</p-tag>
                      </div>
                      <div *ngIf="productList.productStatus == 'OUT_OF_STOCK'">
                        <p-tag severity="danger">斷貨</p-tag>
                      </div>
                  </div>
                  <div class="product-grid-item-content">
                    <img [src]="getImgUrl(productList.snCode) | image | async" alt="Product photo"/>
                    <div class="product-name">{{productList.productName}}</div>
                    <div class="product-description">{{productList.sku}}</div>
                    <div class="product-description">上架日期：{{productList.createDt | date:'yyyy-MM-dd'}}</div>
                  </div>
                  <div class="product-grid-item-bottom">
                      <span class="product-price">${{productList.price}}</span>
                      <p-button icon="pi pi-pencil"
                        [disabled]="productList.productStatus == 'OUT_OF_STOCK'"
                        (click)="editProduct(productList.productSeqNo)"></p-button>
                      <!-- <p-button icon="pi pi-shopping-cart" [disabled]="productList.productStatus == 'OUT_OF_STOCK'"></p-button> -->
                  </div>
              </div>
          </div>
      </ng-template>
  </p-dataView>
</div>
