<div class="container">
  <div class="page-title">
    <h1><span class="icon"><i class="fas fa-box"></i></span>商品畫面
      <i #displayBigPic class="fas fa-list" (click)="changeDisplayModeToDetail()"
      [class.icon-enable]="displayMode == 'DETAIL'"
      [class.icon-disable]="displayMode == 'PIC'"></i>

      <i #displayDetail class="fas fa-image" (click)="changeDisplayModeToPic()"
      style="padding-right: 10px;"
      [class.icon-enable]="displayMode == 'PIC'"
      [class.icon-disable]="displayMode == 'DETAIL'"></i>
      </h1>
  </div>

   <p-card>
    <p-accordion (onOpen)="accordionTabOpen()">
      <p-accordionTab header=查詢表單 [selected]="isSearchFormOpen">
          <form [formGroup]="searchForm">
              <div class="p-fluid p-formgrid p-grid">

                <div class="p-field p-col-4">
                    <label>商品名稱</label>
                    <p-chips formControlName="productNameList" [(ngModel)]="searchParams.productNameList" separator=","
                    (onAdd)="chipsAdd($event, 'productNameList')"></p-chips>
                </div>

                <div class="p-field p-col-4">
                  <label>SKU</label>
                  <p-chips formControlName="skuList" [(ngModel)]="searchParams.skuList" separator=","
                  (onAdd)="chipsAdd($event, 'skuList')"></p-chips>
                </div>

                <div class="p-field p-col-4">
                  <label>是否尚有庫存</label>
                  <p-chips formControlName="inStock" [(ngModel)]="searchParams.inStock" separator=","
                  (onAdd)="chipsAdd($event, 'inStock')"></p-chips>
                </div>

                <div class="p-field p-col-4">
                  <label>商品狀態</label>
                  <p-chips formControlName="inStock" [(ngModel)]="searchParams.inStock" separator=","
                  (onAdd)="chipsAdd($event, 'inStock')"></p-chips>
                </div>

              </div>

              <div class="p-grid">
                  <div class="p-col">
                      <button pButton pRipple label="查詢" (click)="searchBtnClick()"></button>
                      <button pButton pRipple label="重製" class="p-button-secondary p-ml-2" (click)="resetBtnClick()" ></button>
                      <button pButton pRipple label="新增產品 " class="p-button-secondary p-ml-2" (click)="insertProduct()" ></button>
                  </div>
              </div>
          </form>
      </p-accordionTab>
    </p-accordion>
    <div class="p-mt-2">
      <div [hidden]="displayMode == 'PIC'">
        <display-product-detail></display-product-detail>
      </div>
    </div>
  </p-card>
</div>
