<p-table #displayProductDetailTable peazyDataTableSetting
  selectionMode="single"
  [defaultColumns]="columns"
  [value]="value"
  [loading]="isLoading"
  [lazy]="true"
  [rows]="pageInfo.pageSize"
  [totalRecords]="pageInfo.totalRecords"
  (onPage)="pageEvent($event)"
  class="datatable" >

  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" style="width: 12vw">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sort" *ngFor="let col of columns" pResizableColumn pReorderableColumn>
        {{ col.header | translate }}
        <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        <div [ngSwitch]="col.field">
          <ng-container *ngSwitchDefault>
            {{ rowData[col.field] | replaceNullWith:'-'}}
          </ng-container>
          <ng-template #displayEmpty>
            -
          </ng-template>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length + 1">查無資料</td>
    </tr>
  </ng-template>
</p-table>
